header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  background: transparent;
  transition: all ease 0.5s;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.61), transparent);
}
header.black {
  background-color: #141414;
}

.nav--logo {
  height: 60px;
  padding-right: 30px;
}
.nav--logo img {
  height: 100%;
}
.nav--user {
  height: 40px;
}
.nav--user img {
  height: 100%;
}
